body {
    margin: 8px 80px;
    background-image: url("glowinglights.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: #F4F4F4;
    margin-top: 0%;
    margin-bottom: 0%;
    box-shadow: grey;
}
@keyframes mtitle {
    from {
        color: #912F40;
    }
    to {
        color: #32936F;
    }
}
#merry {
    text-align: end;
    font-size: 90px;
    padding: 5px;
    margin: 40px 30px 0px 0px;
    font-family: Special Elite, sans-serif;
    animation: 5s infinite ease mtitle;
}

#christmas {
    text-align: end;
    font-size: 130px;
    padding: 5px;
    margin: -48px 30px 5px 0px;
    font-family: Special Elite, sans-serif;
    animation: 5s infinite reverse mtitle;
}

/* welcome message */
.welcome {
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Special Elite, sans-serif;
    text-align: center;
}

/*grid*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    justify-content: center;
}

.grid-item {
    border-radius: 20px;
    text-align: center;
    height: 280px;
    width: auto;
    margin: 20px;   
    box-shadow: 10px 10px 5px grey; 
}
.grid-item:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* pop-up content*/

/*close buttone*/
.close {
    color: #912F40;
    text-decoration: none;
    cursor: pointer;
    float: right;
    font-size: 50px;
    font-weight: bold;
    padding: 3px 15px 0 0;
    font-family: sans-serif;
}

/*letter to friends*/
.xmas-letter {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url("glowinglights.gif");
    background-size: cover;
    font-family: Indie Flower, sans-serif;
}
.modal-content {
    background-color: #1B998B;
    color: #E7EDDC;
    margin: 15% auto;
    padding: 20px;
    width: 60%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px gray;
    font-size: 30px;
}
#signature {
    font-family: Great Vibes, sans-serif;
    font-size: 50px;
}

/* zero waste gift wrap*/
.zero-img {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url("glowinglights.gif");
    background-size: cover;
    font-family: Indie Flower, sans-serif;
}
.content-zero {
    background-color: #1B998B;
    color: #E7EDDC;
    margin: 15% auto;
    padding: 20px;
    width: 60%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px gray;
    font-size: 30px;
    text-align: center;
}

#giftwrap-img {
    width: 90%;
    height: auto;
    text-align: center;
    border-radius: 20px;
}


/*shot gun gif*/
.fun-gif {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url("glowinglights.gif");
    background-size: cover;
    font-family: Indie Flower, sans-serif;
    
}
.content-gif {
    background-color: white;
    color: #AB3428;
    margin: 15% auto;
    padding: 20px;
    width: 60%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px gray;
    font-size: 30px;
    text-align: center;
    border: #F4E42C dotted 7px;
}

#gif-img {
    width: 90%;
    height: auto;
    text-align: center;
    border-radius: 20px;
}

/*final message*/

.final-message {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url("glowinglights.gif");
    background-size: cover;
    font-family: Indie Flower, sans-serif;
}

.f-message-content {
    background-color: white;
    color: #AB3428;
    margin: 15% auto;
    padding: 20px;
    width: 60%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px gray;
    font-size: 30px;
    text-align: center;

}
#duck-img {
    width: 70%;
    height: auto;
    text-align: center;
    border-radius: 20px;
}
.copyright {
    font-family: sans-serif;
    color: #912F40;
    font-size: 20px;
    text-align: end;
    padding: 5px;
    margin: 5px;
}
